<div class="aurelios-container">
    <div class="aurelios-image">
        <img src="/assets/about/Aurelios-Palos-Heights.jpg" />
    </div>
    <div class="aurelios-desc">
        <h3> A New Career </h3>
        <hr>
        <p>
            In September of 2017, I would take on my first non-seasonal job as a cook at Aurelio’s Pizza. 
            This job was important to me as prior to it I struggled when it came to outside activity in high school. 
            Before this I had tried band and the never ending schedule it places students on, only to find the marching band portion was not my thing. 
            I also tried a few clubs, but many were hastily put together without much draw such as Fandoms, Smash (Video Game Club), or the Anime club. 
            Most took long hiatuses, didn’t meet at all, or were just not engaging to be worth the time. Friend-wise I struggled. 
            I had a nice group of band kids to talk to, but outside of school many were either too busy or unwilling to hang out for any given reason. 
            Aurelio’s became my social spot throughout high school and college as I grew to love the crew.
        </p>
        <p>
            First week there, I hated working as it was a lot to handle and I was stuck in a Friday rush with a crewmate who angrily stormed out after a fight with the manager. 
            After that debacle, I was moved to Saturday night, where I met an amazing crew. 
            They were a group of individuals who were there for the party, yet surprisingly remained the top employees. 
            They always managed to accomplish everything amongst their hijinks and I believe it is because they created such a welcoming environment. 
            Saturdays did not feel like work to me, they were a social event with people I grew close to. 
            They broke me out of my shell and soon I would become friends with people outside of Saturdays as well, creating a large social capital within the business for that first year.
        </p>
        <p>
            Going into 2019, a dark era would set in as a large portion of the crew left. 
            I still had a few friends there, so I stayed, but workers were minimal and hours plentiful. 
            Throughout the first half of the year, I would work five days a week regularly to help out. 
            It was a stressful period, but as the summer came a new crew would as well. 
            I would become friends with the second crew as they filled much of the void of the first. 
            We would have a few events to hang out, but much like everything, work and school stopped much from happening and eventually this crew would begin to leave. 
            Rather than staying around for a second dark period, I left on a good note and pursued a job at Ivy League, which quickly led to a better position at the Acorn Public Library. 
        </p>
        <p>
            Aurelio’s crafted a sense of pride in me as I had gotten out and was a much admired part of the team. 
            I was always held up as the cleanest employee with a knack for cleaning even the worst of dishes. 
            I hold many memories from this gig as the people I met were some of the best. 
            Aurelio’s was an excellent starting point to the workforce, and I cannot overstate how much that job mattered to me. 
            I just hope future jobs can have the same spark.
        </p>

    </div>
</div>

