<div class="screen">
    <h1 class="header">Film Profile</h1>

    <!-- Loading State-->
    <div *ngIf="state === 'submitted'"><mat-progress-spinner mode="indeterminate"></mat-progress-spinner></div>
    
    <!-- Success State -->
    <div class="film_page" *ngIf="state === 'success'">
        <mat-card>
            <mat-card-title>{{film_data.title}} ({{film_data.release_date}})</mat-card-title>
            <mat-card-content> ID: {{film_data.id}} </mat-card-content>
            <hr>
            <mat-card-content class="layout">
                <div class="information">
                    <p> Director: {{film_data.director}} </p>
                    <p> Producer: {{film_data.producer}} </p>
                    <hr>

                    <p> Description: </p>
                    <p> {{film_data.description}} </p>
                    <hr>

                    <p>Run Time: {{film_data.running_time}} minutes</p>
                    <p>Rotten Tomatoes Score : {{film_data.rt_score}}%</p>
                </div>
                <div class="image">
                    <img src="{{film_data.image}}">
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <!-- Fail State -->
    <div *ngIf="state === 'failed'" class="fail">
        <p> Data could not be found! </p>
    </div>
</div>
