.title {
    margin-bottom: 0%;
    margin-top: 1%;
}

@media only screen and (min-width: 1000px) {
    .title {
        text-align: center;
        font-size: 8em;
    }
}

@media only screen and (max-width: 1000px) {
    .title {
        text-align: center;
        font-size: 4em;
    }
}

/* Resume Page */
.about-page {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #000;
    background-color: #fff;
    margin-bottom: 5%;
    border-radius: 0.5%;
    box-shadow: 10px 10px 5px green;
}

/* Toggle */
.chapter-container {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: linear-gradient(#03DE1A, #02B915);
    border: solid 2px #000;
    font-size: 20px;
}

.chapter-toggle {
    padding: 10px;
}

.chapter {
    background: #fff;
    border: solid 2px #000;
    padding: 10px;
}