/* Resume Page */
.about-page {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #000;
    background-color: #fff;
    margin-bottom: 5%;
    border-radius: 0.5%;
    box-shadow: 10px 10px 5px green;
}

/* Toggle */
.chapter-container {
    width: 200px;
    background: #04aa6d;
    font-size: 20px;
}

.chapter-toggle {
    padding: 10px;
}

.chapter {
    background: #333;
    color: #fff;
    padding: 10px;
}