<div class="about-page">
  <br><h1 class="title"> About Me</h1>
  <section class="image-view">
    <img class="about-image" src="{{imageSrc}}">
  </section>
  <section class="product">
    <div class="container-fluid">
      <div class="slider-wrap">
        <div class="slider-main">
          <button class="item" (click)="onClick(images[0])">
            <img class="pic" src="{{images[0]}}">
          </button>
          <button class="item" (click)="onClick(images[1])">
            <img class="pic" src="{{images[1]}}">
          </button>
          <button class="item" (click)="onClick(images[2])">
            <img class="pic" src="{{images[2]}}">
          </button>
          <button class="item" (click)="onClick(images[3])">
            <img class="pic" src="{{images[3]}}">
          </button>
          <button class="item" (click)="onClick(images[0])">
            <img class="pic" src="{{images[0]}}">
          </button>
          <button class="item" (click)="onClick(images[1])">
            <img class="pic" src="{{images[1]}}">
          </button>
        </div>
        <div class="button-area">
          <button type="button" class="prev" appPrev><b><</b></button>
          <button type="button" class="next" appNext><b>></b></button>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section>
    <p>Hi, my name is Aidan</p>
  </section>
</div>