.about-page {
    margin: auto;
    width: 75%;
    background-color: #C2FAF9;
    border-radius: 1em
}

.title {
    text-align: center;
}

/* Image Display */
.image-view {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    height: 35em;
}

.about-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32em;
    height: 33em;
}

/* Slider */
.product {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
    width: 70%;
}

.slider-wrap {
    position: relative;
    overflow: hidden;
    height: 16.7em;
}

.slider-main {
    position: absolute;
    width: 200%;
}

.item {
    display: inline-block;
    width: 25em;
    height: 20em;
    background: #000;
    position: relative;
    margin: 0 12px;
}

.pic {
    width: 24em;
    height: 19em;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    font-weight: bolder;
}

.prev {
    position: absolute;
    left: 20px;
    top: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: rgb(51, 236, 255, 0.5);
    border: none;
    font-weight: bold;
}

.next {
    position: absolute;
    right: -10px;
    top: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: rgb(51, 236, 255, 0.5);
    border: none;
    font-weight: bold;
}

/* About Me Section */
.about {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1.5em;
}