.screen {
    background-color: #000000;
    height: 100%;
    padding-bottom: 10px;
}

.people_page {
    display: flex;
    justify-content: center;
}

mat-card {
    width: 95%;
    background-color: #DFFFFF;
}

a {
    text-decoration: none;
    color: blue;
}

.id {
    font-size: 10px;
}

.header {
    color: white;
    background-color: #000000;
    padding-left: 2.5%;
    padding-top: 10px;
}

.fail {
    background-color: #DFFFFF;
    font-size: 15px;
}