<div class="screen">
    <h1 class="header">User Profile</h1>

    <!-- Load State -->
    <div *ngIf="state === 'submitted'"><mat-progress-spinner mode="indeterminate"></mat-progress-spinner></div>
    
    <!-- Success State-->
    <div class="people_page" *ngIf="state === 'success'">
        <mat-card>
            <mat-card-title>{{data.name}}</mat-card-title>
            <mat-card-content class="id">ID: {{data.id}} </mat-card-content>
            <hr>
            <mat-card-content>Gender: {{data.gender}}</mat-card-content>
            <mat-card-content>Age: {{data.age}}</mat-card-content>
            <mat-card-content>Eye Color: {{data.eye_color}}</mat-card-content>
            <mat-card-content>Hair Color: {{data.hair_color}}</mat-card-content>
            <mat-card-content>Favorite Film: <a [routerLink]="['/film', film.id]">{{film.title}}</a></mat-card-content>
        </mat-card>
    </div>

    <!-- Fail State -->
    <div *ngIf="state === 'failed'" class="fail">
        <p> Data could not be found! </p>
    </div>
</div>
