<div class="heart-container">
    <div class="heart-image">
        <img src="/assets/about/heart.png" />
    </div>
    <div class="heart-desc">
        <h3> A Fontan Heart & Scoliosis </h3>
        <hr>
        <p>
            March 25th, 2001, I was born with heart defects that needed emergency treatment. 
            I would be rushed to Lurie Children’s Hospital to be given a Fontan operation. 
            After the operation I left as a healthy baby with a lifelong scar to symbolize the surgery.  
            When describing my condition, it has been labeled as such: 
        </p>
        <ul>
            <li> Displacement of the great vessel. </li>
            <li> Double outlet right ventricle: Occurs when both the aurora and the pulmonary artery come out of the right ventricle, leaving the left undeveloped. </li>
        </ul>
        <p>
            Throughout my earliest years, I would be treated to a few more surgeries and check ups till age three. 
            The condition would cause some hardships during early life, one I recall hearing being trouble breathing. 
            Eventually, many of the more detrimental issues subsided, but the older I get, the more concern is raised over the condition. 
            Years go on, and from that more restrictions are placed to ensure my health. 
            What started out as a restriction on mile runs would go further restricting push ups, heavy weights, and more. 
            These restrictions can and have been a burden on life, but I have learned to live with them as time goes on. 
        </p>
        <p>
            Medical complications would not end with the heart as by seventh grade I would learn that I had developed scoliosis. 
            Scoliosis is a spinal disease that creates a curvature and can lead to problems such as chest pains and sore legs. 
            My pediatrician would catch this disease when she saw me stand up and realized that my shoulders were not aligned. 
            The condition is barely noticeable, and likely could have been there for years with a theory being that it was caused by the open heart surgery. 
            Regardless of cause, I now had two conditions to worry about.
        </p>
        <p>
            On the brightside, I have worked hard to ensure that my conditions are not a detriment towards my life. 
            In middle school, I broke many rules for a normal gym experience and felt no complications besides some tiredness from running. 
            I would take a martial arts course for many years that would build me up to be the strongest I can be, creating a strong core and indomitable will to handle most exercises. 
            This all culminated recently as I was said to have gotten a record time on the treadmill (15 mins) for patients of my condition. 
            Even with all the complications, I find that I am stronger than most as I held a fighting spirit to never let my conditions hold me back. 
            I may suffer a disability, but with a good attitude, I have made it so that they cannot define me.
        </p>

    </div>
</div>
