<div class="lees-container">
    <div class="lees-image">
        <img src="/assets/about/lees.jpg" />
    </div>
    <div class="lees-desc">
        <h3> The Ultimate Training </h3>
        <hr>
        <p>
            In October of 2008, I would join a martial arts class at Lee’s Academy, a decision which would go on to define my life. 
            Lee’s was my first real push against my condition and was the one activity that stuck with me unlike previous sports such as baseball or ball hockey. 
            To describe the program, it was split up into three to two separate classes depending on era. 
            I mainly participated in the children’s class, but would end my time going through the adult program. 
            The third class was a younger children’s class for those four to five which was created from my brother trying to participate on the side and the instructor having a kid that age. 
            I would help in the early years of the children’s class to try and gain some leadership ability. 
        </p>
        <p>
            The class itself was always split into two segments regardless of age group, with the only difference being the intensity. 
            The first half would be a series of exercises used to challenge and build up strength. 
            The second half would be for learning new techniques, practicing, or sparring. 
            Personally, I always took more to the first half of the class as it built me up to be a machine with a strong core from curl ups, 
            strong legs, and even a strong upper body from pushups and later weights. 
            My abilities were admired by family and the instructor as I beat the odds and performed many tasks that I should have been physically incapable of. 
            My talents continued into the second half of the class as I did well with techniques and was noted as getting progressively better at sparring. 
            The class built me to be strong, and through it I overcame my deficiencies.
        </p>
        <p>
            Around August of 2019, I left the class to pursue college and my side job. 
            By 2020, the class officially ended, with the instructor moving onto a new location and taking some former students with him. 
            In the roughly eleven years there I left my mark as a top achieving student. 
            Past the class, I took with me lessons in healthy living from exercise to being substance free, along with a drive to always push to be the best I can be. 
            Lees was an important factor of my life and the lessons and experiences I gained from it I will treasure for the rest of my life.
        </p>

    </div>
</div>
