<div class="home-page">
    <h1 class="title"> Aidan Monner </h1>
    <app-carousel [images]="images" [autoSlide]="true"></app-carousel>
    <hr>
    <div class="about">
        <p>
            Hello, My name is Aidan Monner. I am a web developer with a passion for art and design who acquired a Bachelor’s Degree of Computer Science from Trinity Christian College. 
            With my skills and a degree, I hope to bring my design sensibilities to the world as I build sites with proper UI/UX requirements.
        </p><br>

        <p class="category"> Personality: </p>
        <p>
            I am a passionate individual who works well alone or with a group after a brief period of time. 
            I can be a bit shy when it comes to making introductions, but once comfortable, I am a favorite of every group I am in. 
            I have a laid back personality with others, but hold myself to a high standard leading to workaholic tendencies and the drive to be a fitness phenom. 
            Past that, I am a nerd with great knowledge over animation, video games, and the internet.
        </p><br>

        <p class="category"> Experience: </p>
        <p>
            My experience in the field can be summed up as such. 
            From classes at Trinity, I have gained a base knowledge over the languages of HTML, CSS, Java, JavaScript, Python, and C#. 
            I also utilized Microsoft programs such as Word, Excel, Power Point, and Power BI. Outside of school, I have developed personal projects utilizing PHP and SQL. 
            Finally, I took an Internship with InMotion Hosting where I learned to use the Angular framework.
        </p>
    </div>
</div>