<div class="home-page">
    <h1 class="title"> Aidan Monner </h1>
    <app-carousel [images]="images" [autoSlide]="true"></app-carousel>
    <hr>
    <div class="about">
        <p>
            Hello, my name is Aidan Monner.
            I am a graduate of Trinity Christian College with a bachelor’s degree in Computer Science.
            I have a strong background in programming with my expertise split between having strong foundations in AngularJs and PHP.
        </p>
I have worked within a containerized environment and kubernetes cluster as part of my fraud report project for InMotion Hosting. I have also developed SQL database tables while working on my own personal projects. With a broad range of experience in programming and its services, I am looking forward to growing my knowledge through further opportunities.

    </div>
</div>